<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Trace"
      internalLogFile="C:\temp\internal_logs\internallog.txt">
  <extensions>
    <add assembly="NLog.Targets.Splunk" />
  </extensions>
  <variable name="MicrosoftLevel"
            value="${level:lowercase=true:truncate=4:when=level==LogLevel.Info or level==LogLevel.Warn}${when:when=level==LogLevel.Error:inner=fail}${when:when=level==LogLevel.Fatal:inner=crit}${when:when=level==LogLevel.Debug:inner=dbug}${when:when=level==LogLevel.Trace:inner=trce}" />
  <variable name="MicrosoftLayout"
            value="${MicrosoftLevel}: ${logger}[${event-properties:EventId_Id:whenEmpty=0}]${newline}      ${message}${onexception:inner=${newline}${exception:format=tostring}}" />
  <targets async="true">
    <target xsi:type="File" name="fileTarget"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    <target xsi:type="ColoredConsole"
            name="consoleTarget" 
            layout="${longdate} ${uppercase:${level}} ${message}" />
    <target xsi:type="SplunkHttpEventCollector" name="splunk"
            serverUrl="http://localhost:8088"
            token="5b8e7df8-ddca-4330-b398-94555e7b2855"
            includeEventProperties="true"
            includeMdlc="true">
      <contextproperty name="host" layout="${machinename}" />
      <contextproperty name="threadid" layout="${threadid}" />
      <contextproperty name="logger" layout="${logger}" />
    </target>
  </targets>
	<rules>
    <logger name="*" minlevel="Trace" writeTo="splunk" />
    <logger name="*" minlevel="Debug" writeTo="fileTarget" />
    <logger name="*" minlevel="Debug" writeTo="consoleTarget" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
	</rules>
</nlog>

